.navbar__text{
    font-size: $medium;
    font-family: $raleway;
    font-weight: $raleway-bold;
}

.navbar__text-brand{
    font-size: $medium;
    font-family: $old;
    font-weight: $old-bold;
    text-decoration: none;
}


// // sm devices (, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }