.font-old{
    font-family: $old;
}

.font-raleway{
    font-family: raleway;
}

.font-size--xxxl{
    font-size: $xxx-large;
}

.font-size--xxl {
    font-size: $xx-large;
}

.font-size--xl {
    font-size: $x-large ;
}

.font-size--l {
    font-size: $large;
}

.font-size--m {
    font-size: $medium;
}

.font-size--s {
    font-size: $small;
}

.font-size--xs {
    font-size: $x-small ;
}

.font-bold{
    font-weight: 700;
}