// Font
$old: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;


// Font Weight
$old-regular     : 400;
$old-bold        : 700;
$raleway-regular : 400;
$raleway-bold    : 700;


// Font Sizes  [font:10px]
$xxx-large  : 5rem;
$xx-large   : 3rem;
$x-large    : 2rem;
$large      : 1.8rem;
$medium     : 1.6rem;
$small      : 1.4rem;
$x-small    : 1.2rem;


